#header{
    display: flex;
    font-family: "Raleway", sans-serif;
    width: 83%;
    float: right;
    background: #fff;
    height: 80px;
    justify-content: end;
    align-items: center;
}
#header p{
    margin-right: 40px;
    color: #888;
    font-size: 16px;
    font-weight: 600;
}