#shop-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-shop{
    height: 50%;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
#search{
    margin-left: 30px;
    height: 30px;
    width: 250px;
    padding-left: 20px;
}
#table-shop{
    margin-top: 50px;
    width: 100%;
}
#table-shop tr{
    border: 1px solid grey;

}
#table-shop  th, td{
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}
