.sidebarHome a{
    color: black;
    text-decoration: none;
}
.sidebarHome a:hover{
    color: darkorange;
}
#customer-footer{
    margin-top: 100px;
}
.best-seller-items{
    width: 100%;
    height: 100px;
}
.best-seller-items-image{
    width: 30%;
    height: 100%;
    float: left;
}
.best-seller-items-image img{
    width: 100%;
}
.best-seller-items-description{
    width: 65%;
    height: 100%;
    float: left;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 400;
}
.best-seller-items-description a{
    text-decoration: none;
    color: black;
}
.best-seller-items-description .old-price{
    text-decoration-line: line-through;
    color: #888888;
    margin-right: 5px;
}
.best-seller-items-description .new-price{
    color: red;
}

.product-items{
    padding: 0;
}
#cart{
    margin-right: 20px;
    color: white;
    font-size: 25px;
}
#cart:hover{
    color: darkorange;
}
#list-product-discount{
    height: 700px;
    margin-top: 20px;
    overflow: auto;
}
#list-product-discount h2{
    margin-left: 20px;
    color: darkorange;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.discount-product{
    height: 300px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    border: .5px solid gray;
    border-radius: 10px;
}
.discount-product a{
    text-decoration: none;
}
.discount-product b{
    font-size: 15px;
}
.discount-product .product-image img{
    border-radius: 10px;
}


.product-name .old-price, .new-price{
    margin-left: 5px;
}