#customer-header{
    width: 100%;
    height: 100%;
    z-index: 1;
}
#shop-display{
    width: 100%;
    height: 100vh;
}
#main-outlet{
    float: left;
    width: 70%;
    height: 100%;
}
#sidebar{
    width: 30%;
    height: 100%;
    float: left;
}
/*#customer-footer{*/
/*    padding-top: 50px;*/
/*    width: 100%;*/
/*    clear: both;*/
/*}*/