#customer-header{
    width: 100%;
    height: 160px;
    z-index: 1;
}

#sidebar{
    width: 30%;
    height: 600px;
    float: left;
}
#shop-display{
    width: 100%;
    height: 1000px;
}
#main-outlet{
    float: left;
    width: 69%;
    height: 700px;
}
#customer-footer{
    padding-top: 50px;
    width: 100%;
    clear: both;
}