#home-header{
    height: 160px;
    width: 100%;
}
#display{
    width: 100%;
    height: 1690px;
    display: block;
}
#banner{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background: #e5e5e5;
    flex-direction: row;
    padding: 0;
}
#banner img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/*Main*/
#main-home{
    width: 80%;
    /*height: 800px;*/
    margin: auto;
}
#main-home a{
    color: #282c34;
    text-decoration: none;
}
/*Categories*/
#categories-box{
    width: 100%;
    height: 420px;
    margin-top: 30px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-left:70px;
    padding-top:40px;
}
#categories-box h5{
    margin-left: 10px;
}
.categories{
    float: left;
    width: 119px;
    height: 150px;
    display: flex;
    flex-direction: column;

}
.categories:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}
.categories-image{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories-image img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.categories-name{
    width: 100%;
    height: 40%;
    font-size: 15px;
    font-family: Raleway, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*Best-seller*/
#best-seller{
    width: 100%;
    height: 420px;
    padding-bottom: 10px;
    margin-top: 30px;
    overflow-x: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-height: 200px;
    background: white;
    border-radius: 5px;
    padding-top: 50px;
    padding-left: 35px;
}
#best-seller-text{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#most-discount-product-text {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#category-text {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 20px;
    padding-bottom: 10px;
}
.best-seller-product{
    width: 190px;
    height: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
}
.best-seller-product:first-child{
    margin: 0;
}
.best-seller-product-image{
    width: 100%;
    height: 60%;
}
.best-seller-product-image img{
    height: 100%;
    width: 100%;
}
.best-seller-product-info{
    width: 100%;
    height: 40%;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: column;
}
.best-seller-product-name{
    width: 100%;
    height: 50%;
    padding-left: 10px;
    padding-top: 10px;
}
.best-seller-product-price{
    width: 100%;
    height: 50%;
    padding-left: 5px;
    display: flex;
    align-items: end;
    padding-bottom: 5px;
}
.best-seller-product-price .new-price{
    font-size: 17px;
    margin-left: 5px;
}
/*Discount product*/
#discount-product{
    width: 100%;
    height: 380px;
    padding-bottom: 10px;
    margin-top: 30px;
    overflow-x: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-height: 200px;
    background: white;
    border-radius: 5px;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 45px;

}
.discount-product{
    width: 180px;
    height: 230px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    float: left;
    position: relative;
}
.discount-product-image{
    width: 100%;
    height: 60%;
}
.discount-product-image img{
    height: 100%;
    width: 100%;
}
.discount-product-info{
    width: 100%;
    height: 40%;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: column;
}
.discount-product-name{
    width: 100%;
    height: 50%;
    padding-left: 10px;
    padding-top: 10px;
}
.discount-product-price{
    width: 100%;
    height: 50%;
    padding-left: 5px;
    display: flex;
    align-items: end;
    padding-bottom: 5px;
}
.discount-product-price .new-price{
    font-size: 17px;
    margin-left: 5px;
}
.click-me{
    width: 100%;
    height: 35px;
    padding-top: 5px;
    background: #fe5502;
    text-align: center;
    color: white;
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: 3;
    border: 1px solid darkorange;
    cursor: pointer;
}
.discount-product:hover .click-me{
    display: block;

}

.best-seller-product:hover .click-me{
    display: block;
}
/*All-product*/
#all-product{
    width: 100%;
    height: auto;
    margin-top: 30px;
    overflow-x: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-height: 200px;
    background: white;
    border-radius: 5px;
    padding-top: 55px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 35px;
    padding-bottom: 55px;
    /*text-align: center;*/
}

#suggest-product-text{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
}
/* CSS cho mũi tên trước (prev arrow) */
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    /* Tùy chỉnh các thuộc tính CSS ở đây */
    left: -0px;
    border-radius: 50%;
    color: #333;
    font-size: 20px;
    padding: 5px;
    z-index: 0;
}

/* CSS cho mũi tên sau (next arrow) */
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
    /* Tùy chỉnh các thuộc tính CSS ở đây */
    right: 10px;
    border-radius: 50%;
    color: #333;
    font-size: 20px;
    padding: 5px;
    z-index: 0;
}

#bnt-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Thêm style cho các button trong pagination */
#bnt-pagination button {
    margin: 5px;
    height: 35px;
    border-radius: 5px;
    border: none;
    width: 80px;
    color: white;
    background: #fe5502;
    cursor: pointer;
}
.discount-percent{
    width: 50px;
    height: 50px;
    position: absolute;
    background: darkorange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 10px;
    border-radius: 50%;
}

